node_modules
dist
dist-ssr
*.local

# Rust
src-tauri/target
src-tauri/gen

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
